.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 4px;
    min-width: 100px;
    padding: 9px 16px;
    background-color: var(--white);
    border: 1px solid transparent;
    + .wrapper {
        margin-left: 8px;
    }
}
.primary {
    color: var(--white);
    background-color: var(--primary);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        cursor: pointer;
    }
}
.outline {
    color: var(--primary);
    border-color: var(--primary);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        cursor: pointer;
    }
}
.text {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    min-width: 116px;
    padding: 14px 16px;
}
