@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600700;900&display=swap');

:root {
    --primary: #fe2c55;
    --defalt-layout-header-height:60px;
    --defalt-layout-width:1150px;
    --black:#000000;
    --text-color:#161823;
    --white:#fff;
    --defalt-layout-horizontal-spacer:24px;

}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color:var(--text-color);
    // custom tippy  tooltip
.tippy-box {
    border-radius:8px;
    font-weight:600;
    background-color:rgba(84 , 84,84, 0.92);
    font-size:1.6rem;
    line-height:2.2rem;
    }
    .tippy-arrow {
        color:rgba(84 , 84,84, 0.92);;
    }
    .tippy-box[data-placement^=bottom]>.tippy-arrow:before {
        top:-8px;
    }
    .tippy-content {
        padding:8px 9px;
    }

}
button , input , [tabindex] {
    outline:none;
    border: none;

}
a[href] {
    color:var(--text-color);
    text-decoration:none;
}
