.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    height: var(--defalt-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
}
.inner {
    height: 100%;
    padding: 0 var(--defalt-layout-horizontal-spacer);
    width: var(--defalt-layout-width, 1150px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
}
.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    cursor: pointer;
    background-color: transparent;
}
.action-btn {
    color: #161823;
    font-size: 2.2rem;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
